{% assign field_id = 'ContactField-' | append: section.id | append: '-' | append: block.id %}
{% assign field_name = block.settings.field_name | default: 'Consent' %}
{% assign field_contact_name = 'contact[' | append: field_name | append: ']' %}
{% assign field_width_class = 'contact-form__field--' | append: block.settings.width %}

{% render 'form-field',
  type: 'checkbox',
  id: field_id,
  label: field_name,
  name: field_contact_name,
  label_html: block.settings.text,
  required: true,
  value: 'Accepted',
  width_class: field_width_class,
  checkbox_class: 'contact-form__consent',
  checkbox_label_class: 'contact-form__consent-label',
  attributes: block.shopify_attributes
%}
{% schema %}
{
  "name": "t:general.consent_checkbox",
  "settings": [
    { "type": "text", "id": "field_name", "label": "t:labels.submission_field_name", "default": "Consent" },
    { "type": "richtext", "id": "text", "label": "t:labels.checkbox_text", "default": "<p>I agree to the terms and conditions.</p>" },
    { "type": "select", "id": "width", "label": "t:labels.field_width", "options": [{ "value": "full", "label": "t:options.field_width.full" }, { "value": "half", "label": "t:options.field_width.half" }, { "value": "third", "label": "t:options.field_width.third" }, { "value": "two-thirds", "label": "t:options.field_width.two_thirds" }], "default": "full" }
  ],
  "presets": [{ "name": "t:general.consent_checkbox" }]
}
{% endschema %}
