<article class="trust-badge" {{ block.shopify_attributes }}>
  {% if block.settings.icon != blank %}
    {% render 'image',
      class: 'trust-badge__icon',
      image: block.settings.icon,
      alt: block.settings.heading,
      width: 96,
      widths: '48, 72, 96',
      sizes: '48px'
    %}
  {% endif %}

  {% if block.settings.heading != blank %}<h3>{{ block.settings.heading | escape }}</h3>{% endif %}
  {% if block.settings.text != blank %}<div class="trust-badge__text">{{ block.settings.text }}</div>{% endif %}
</article>

{% schema %}
{
  "name": "t:general.badge",
  "settings": [
    { "type": "image_picker", "id": "icon", "label": "t:labels.icon" },
    { "type": "text", "id": "heading", "label": "t:labels.heading", "default": "Free shipping" },
    { "type": "richtext", "id": "text", "label": "t:labels.text", "default": "<p>Add a short trust-building benefit.</p>" }
  ],
  "presets": [{ "name": "t:general.badge" }]
}
{% endschema %}
